.articleAuthor,
.articleCreated,
.articleCommentCount,
.articleVotes,
.articleTopic {
  text-align: center;
  padding-left: 1em;
  color: black;
  line-height: 1;
  padding: 2px 0;
  width: 140px;
  margin: 20px auto;
  font-family: Arial, Helvetica, sans-serif;
}

.articleTitle {
  text-align: center;
  color: black;
  margin: 0;
  padding: 0;
  font-size: 1em;
}
.article_id:before {
  border-bottom: 3px solid #fff;
}
.articleIcons {
  display: grid;
  justify-content: stretch;
  margin: 0;
  padding: 0;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 'articleVotes articleComments articleCreated';
}
.cards {
  display: flex;
  align-items: baseline, stretch;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 0.1em;
}
/* .card {
  background: black;
  border: 0.5em solid white;
  margin: 0.5em;
  flex: 0 1 23%;;
  font-size: 1em;
  width: 32rem;
  background-color: #ebeef8;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  box-shadow: 0.5rem 0.5rem 3rem rgba(0.2);
} */
.card {
  background: black;
  border: 0.5em solid #c72727;
  flex: 0 1 26%;
  font-size: 1em;
  /* width: 32rem; */
  background-color: #ebeef8;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  box-shadow: 0.5rem 0.5rem 3rem rgba(0.2);
}
.cardBackground {
  width: 100%;
  height: 15rem;
  position: relative;
  object-fit: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
}
.cardTopicImage {
  position: relative;
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -11rem;
  border: 1rem solid#ebeef8;
}

@media screen and (max-width: 450px) {
  #cardId {
    width: 100%;
  }

  h1 {
    font-size: 1.5em;
  }
  .articleIcons {
    display: block;
    width: 100%;
    margin: auto;
  }
  .cards {
    /* padding: 0; */
    width: 100%;
    margin: auto;
    /* margin: auto; */
    /* margin: 0; */
  }
  .card {
    background: black;
    border: 0.5em solid #c72727;
    flex: 0 1 90%;
    font-size: 0.9em;
    background-color: #ebeef8;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    box-shadow: 0;
  }
}
