.articleCard {
  background: black;
  border: 2px;
  border-block-end-color: whitesmoke;
  padding: 10px;
}

.articleList {
  display: grid;
  grid-columns: auto;
  grid-rows: auto;
}

.sortArticlesForm {
  display: grid;
  grid-columns: repeat(8, 1fr);
  grid-rows: 1fr;
  grid-template-areas: 'sortby_label sortby_dropdown order_label order_dropdown limit_label limit_dropdown  . filter_button  ';
}

.sortby_label,
.order_label,
.limit_label {
  justify-self: center;
  align-self: center;
}

.filter_button {
  justify-self: right;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 0.15em 0.7em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
