/* .articleDisplay {
  color: #fff;
  background: #333;
  padding: 2rem;
  position: relative;
} */

.slideBackground {
  /* border: 5px red solid;
  height: auto;
  width: 50%;
  background-position: center;
  background-repeat: no-repeat; */
  /* background: url('../../images/pyramid.jpg') no-repeat center center/cover; */
  /* content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4; */
}

/* .articleDisplay:before {
  content: '';
  background: url('../../images/pyramid.jpg') no-repeat center center/cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  position: absolute;
} */

/* .articleDisplayContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 50vh;
} */

/* .articleDisplayContent {
  z-index: 1;
}

.articleDisplayTopic {
  display: inline-block;
  color: #fff;
  font-size: 0.55rem;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  margin-bottom: 0.5rem;
} */
/* 
.articleDisplayReadMoreButton {
  display: inline-block;
  border: none;
  background: #333;
  color: white;
  padding: 0.5rem 1.5rem;
}
.articleDisplayArticle {
  text-overflow: ellipsis;
  white-space: pre-wrap;
  overflow: hidden;
} */

/* .articleDisplayReadMoreButton:hover {
  opacity: 0.9;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide h1 {
  color: white;
  font-size: 3em;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 45%;
  height: 0;
  width: 0;
  border-style: solid;
} */
/* #arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent red transparent transparent;
  left: 0;
  margin-left: 30px;
}

#arrow-right {

  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent red;
  right: 0;
  margin-right: 30px;
} */
