#articlesPage h3 {
  color: white;
}
.totalArticles,
.totalArticlesTop {
  color: white;
}
.sortArticlesForm {
  grid-area: sortForm;
  display: grid;
  grid-columns: repeat(8, 1fr);
  grid-rows: auto;
  grid-template-areas: 'sortby_label sortby_dropdown order_label order_dropdown limit_label limit_dropdown  . filter_button  ';
  color: white;
}
.articleInteraction {
  display: grid;
  grid-columns: auto;
  grid-rows: auto;
  grid-template-areas:
    'SortForm'
    'postButton';

  color: white;
}
.sortArticlesForm label {
  justify-self: center;
  align-self: center;
}

.sortArticlesForm select {
  font-weight: 900;
}
#filter_button {
  grid-area: filter_button;
  justify-self: left;
}

.totalcountLoadmore,
.totalArticlesTop {
  text-align: center;
}

.totalArticlesTop {
  padding-top: 1em;
  font-size: 1.2em;
}
.totalArticles {
  font-size: 1.2em;
}
#loadMore {
  margin: 1em;
}
.loadingArticles {
  color: white;
  font-size: 2em;
}

@media screen and (max-width: 450px) {
  .sortArticlesForm {
    display: grid;
    grid-columns: repeat(8, 1fr);
    grid-template-areas:
      'sortby_label sortby_dropdown'
      'order_label order_dropdown'
      'limit_label limit_dropdown'
      'filter_button .';
    color: white;
  }

  .sortArticlesForm select {
    padding-left: 1em;
    text-align: center;
    font-size: 0.9em;
    width: 10em;
  }
  .sortArticlesForm label {
    padding-left: 1em;
    text-align: center;
    font-size: 0.9em;
  }
  .filter_button {
    margin-top: 0.5em;
    justify-self: left;
    width: 10.7em;
  }
}
