.commentCards {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.commentCard {
  color: white;
  background: black;
  border: 0.5em solid white;
  margin: 0.5em;
  flex: 0 1 24%;
  font-size: 1em;
  width: 50rem;
  background-color: #ebeef8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  box-shadow: 0.5rem 0.5rem 3rem rgba(0.2);
}

.comment_id,
.comment_body,
.comment_author {
  color: black;
  font-size: 1em;
}

.comment_delete_button {
}
