.header {
}

.headerContents {
  grid-area: header;

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas: 'headerLeft  nav';
  position: fixed;
  z-index: 10;
  background: black;

  overflow: hidden;
  top: 0;
  width: 100%;
  padding: 0.5em 0.5em 0 0.5em;
  /* border: 5px solid red; */
  /* z-index: 10; */
}
.menuButton {
  display: none;
  color: white;
  position: relative;
  top: -5px;
  font-size: 3em;
  padding: 0;
}
.headerLeft {
  grid: headerLeft;
}
.headerLeft .logo {
  /* margin: 0 1em; */
  /* width: 250px; */
  width: 16em;
}

.nav {
  grid-area: nav;
  font-size: 1.5em;
  /* position: sticky; */
  /* align-self: end; */
  align-self: center;
  top: 0;
  /* z-index: 2; */
}

.nav_container {
  display: grid;
  padding: 0.4rem;
  align-items: center;

  overflow: hidden;
}

.nav ul {
  justify-self: end;
  display: flex;
  list-style: none;
}

.nav ul li a {
  padding: 0 0.75rem;

  font-weight: bold;
}
.nav_home {
  background: #c72727;
  color: white;
}

.nav_home:hover {
  background: #f3f3f3f3;
  color: #333333;
}

.nav_articles,
.nav_topics,
.nav_users {
  background: white;
  color: black;
}
.nav_articles:hover,
.nav_topics:hover,
.nav_users:hover {
  background: #f3f3f3f3;
  color: black;
}
/* .loginInfo {
  grid-area: loginInfo;
} */

/* .welcome_msg {
  padding: 5px;
  margin: 0;
  grid-area: welcome_msg;
  text-align: center;
  justify-content: center;
  font-size: 2em;
} */

@media (max-width: 769px) {
  .nav_container {
    align-self: center;
  }
  .header {
    grid-template-areas: 'headerLeft';
    display: flex;
    flex-direction: row;
  }
  .nav {
    display: none;
  }
  .headerLeft .logo {
    margin-left: 3em;
  }

  .menuButton {
    display: inline-block;
  }
}

@media (max-width: 365px) {
  .headerLeft .logo {
    width: 12em;
    margin: 0;
  }
  .menuButton {
    display: inline-block;
    font-size: 2em;
  }
}
