.welcome_msg {
  padding: 5px;
  grid-area: welcome_msg;
  text-align: center;
  justify-content: center;
  font-size: 2em;
}

.notLoggedInMsg {
  margin-top: 5em;
  margin-bottom: 8em;
  text-align: center;
}

/* .loginInfo {
  display: grid;

  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: '. welcome_msg .';
}
.userAvatarSection {
  margin: 0;
  grid-area: userAvatar;
  text-align: center;
}
.userName {
  display: block;
  height: auto;
  width: auto;
  padding: 5px;
  margin: 0;
  grid-area: userName;
  text-align: center;
  justify-content: center;
  font-size: 2em;
}
.userAvatar {
  grid-area: userAvatar;
  border-radius: 50em;
  border: 1em solid black;
  padding-top: 2em;
  padding-bottom: 2em;
}

.logOutButton {
  grid-area: logOutButton;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
} */
