.postArticleButtonContainer {
  /* grid-area: postNewArticle; */
  height: 100%;
  /* background: #c72727; */
  /* display: grid;
  grid-columns: repeat(4, 1fr);
  grid-rows: 1fr;
  grid-template-areas: '. . . . . . . postButton'; */
}

.postArticleButtonContainer {
  grid-area: postButton;
  margin-top: 1em;
  justify-self: center;
}

#postArticleButton {
  margin-left: 2em;
}
