.postArticleButtonContainer {
  background: #333;
  color: white;
  position: relative;
}

.postArticleImage {
  display: block;
  width: 100%;
}

.postArticleText {
  /* border: 1em red solid; */
  color: black;
  /* z-index: 1; */
  position: absolute;
  top: 65%;
  left: 34%;
  transform: rotate(-8deg);
}

.postButton {
  position: absolute;
  top: 50%;
}
