.article_id,
.article_title,
.article_body {
  padding-top: 1em;
  padding-bottom: 1em;
}

.articleDetailsContainer {
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'article_details article_created_at'; */
  /* margin-left: 10em;
  margin-right: 10em; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  word-spacing: 1em;
  background: rgba(180, 180, 180, 0.301);
}
.usericon {
  padding-right: 3px;
}
.article_delete_button {
  padding: 0 1em 0 0;
  cursor: pointer;
}
.article_details {
  grid-area: article_details;
  display: flex;
  justify-items: center;
}
.article_created_at {
  grid-area: article_created_at;
  font-size: 1em;
}

/* .article_topic {
  grid-area: article_topic;
  justify-self: end;
  align-self: center;
  margin-left: 10em;
} */
.article_buttons_container {
  display: inline-flex;
  justify-self: center;
  padding: 0 1em 0 1em;
  background-color: #ebeef8;

  position: relative;
}

.borderArea {
  border-top: 4px solid #ff9696;
  border-bottom: 4px solid #ff9696;
  text-align: center;
  position: relative;
  top: 13px;
  padding-bottom: 2em;
}
.article_title {
  font-size: 3em;
  padding: 0.5em;
  padding-bottom: 0.7em;
}
/* .article_id {
  justify-self: center;
  padding: 0 1em 0 1em;
  background-color: #ebeef8;

  position: relative;
  top: -10px;
} */
.article_topic {
  justify-self: center;
  padding: 0 1em 0 1em;
  background-color: #ebeef8;

  position: relative;
  top: -10px;
}

.article_body {
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
  margin-left: 7em;
  margin-right: 7em;
  /* text-align: center; */
}
.articleContainer {
  display: grid;
  grid-template-areas:
    '. articleContentCard .'
    '. newCommentSection .'
    '. comments .';
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  align-content: center;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.articleContentCard {
  grid-area: articleContentCard;
  background: black;
  border: 0.5em solid #c72727;
  flex: 0 1 24%;
  font-size: 1em;
  /* width: 32rem; */
  background-color: #ebeef8;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  box-shadow: 0.5rem 0.5rem 3rem rgba(0.2);
}

.commentsSection {
  grid-area: comments;
}
