.App {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 1em;
  grid-template-areas:
    'header'
    'loginInfo'
    'latestSection'
    'postNewArticle'
    'main'
    'footer';
  font-family: 'PT Serif', serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  padding: 0.5em;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.footer,
.articleList,
.topics {
  padding: 1em;
}
.header {
  background: black;
  grid-area: header;
}
.loginInfo {
  grid-area: loginInfo;
}
.footer {
  grid-area: footer;

  background: lightgray;
}
.topics {
  background: black;
  grid-area: topics;
}
.main {
  background: #333;
  grid-area: main;
}
.article {
  padding-top: auto;
}
.postArticleButtonContainer {
  grid-area: postNewArticle;
  height: 200px;
  /* width: auto; */
  overflow: hidden;
}
.addNewArticleButton {
  grid-area: addNewArticleButton;
  border: 5px solid red;
}

.latestSection {
  grid-area: latestSection;
  /* height: 3em;
  width: 20em; */
  justify-content: center;
}
