.App {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  grid-template-areas:
    'header'
    'loginInfo'
    /* 'topics topics' */
    'main'
    'postNewArticle'
    /* 'main .' */
    'footer';
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  padding: 0.5em;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.footer,
.articleList,
.topics {
  padding: 1em;
}
.header {
  background: black;
  grid-area: header;
}
.loginInfo {
  grid-area: loginInfo;
}
.footer {
  grid-area: footer;

  background: lightgray;
}
.topics {
  background: black;
  grid-area: topics;
}
.main {
  background: #333;
  grid-area: main;
}
.article {
  padding-top: auto;
}
.postNewArticle {
  grid-area: postNewArticle;
  border: 5px solid greenyellow;
}
.addNewArticleButton {
  grid-area: addNewArticleButton;
  border: 5px solid red;
}

.articleDisplay {
  grid-area: articleDisplay;
}
