.App {

  font-family: 'PT Serif', serif;
  height: 100vh;
  
}
/* .appContent {
  max-width: 960px;
  margin: 0 18%;
  margin: auto;
} */
.components {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-areas:
  'loginInfo'
  'latestSection'
  'postNewArticle'
    'main'
    'footer';
    margin: 0 1em;
    align-content: center;
    
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.footer,
.articleList,
.topics {
  padding: 1em;
}

.loginInfo {
  grid-area: loginInfo;
  padding-top: 3.5em;
}

.footer {
  grid-area: footer;
}

.topics {
  background: black;
  grid-area: topics;
}
.main {
  background: #333;
  grid-area: main;
}
.article {
  padding-top: auto;
}
.postArticleButtonContainer {
  grid-area: postNewArticle;
  height: 200px;
  overflow: hidden;
}
.addNewArticleButton {
  grid-area: addNewArticleButton;
  border: 5px solid red;
}

.latestSection {
  grid-area: latestSection;

  justify-content: center;
}

@media screen and (max-width: 768px) {
  .latestSection p{
    font-size: 1.5rem;
    
  }
}

@media screen and (max-width: 450px) {
  .App {
    font-size: 1.2rem;
  }
  
.components {
  margin:0;
}

.latestSection p{
  font-size: 1.5rem;
  
}
}